@import "../node_modules/@blueprintjs/core/lib/scss/variables.scss";
$tiny: 0.2rem;
$comfy: 0.5rem;
html, body
{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  margin: $tiny;
}

.container {
  min-height: 100vh;
  padding: 0 $comfy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1rem;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  a {
    margin: 0 1rem;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $pt-intent-primary;
  }
  .links {
    display: flex;
    flex-direction: row;
  }
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: $comfy;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: $pt-intent-primary;
  text-decoration: none;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

@mixin card {
  display: flex;
}

.tournament-card {
  @include card;
  margin: $comfy;
}

.participant-list {
  display: flex;
  max-width: 800px;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.participant-card {
  @include card;
  width: fit-content;
  flex-direction: column;
  margin: $tiny;
  padding: $comfy;
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .participant-name {
      font-weight: bold;
    }
    .participant-delete-button {
      padding: 0;
      width: min-content;
      height: min-content;
    }
  }
  .content {
    align-items: center;
    .participant-email {
      font-style: italic;
    }
  }
}

.card a {
  text-decoration: none;
  // cursor: pointer;
}

// .card:hover,
// .card:focus,
// .card:active {
//   color: #0070f3;
//   border-color: #0070f3;
// }

// .card h3 {
//   margin: 0 0 1rem 0;
//   font-size: 1.5rem;
// }

// .card p {
//   margin: 0;
//   font-size: 1.25rem;
//   line-height: 1.5;
// }

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.edit-tournament-page {
  .form {
    padding: $comfy;
    margin: $comfy;
    .name-input {
      padding: $tiny;
      width: 30rem;
      span, input {
        width: 100%;
      }
    }
  }
}
